<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title>{% if page.title %} {{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
	
	{% include google_analytics.html %} 
</head>
